body {
	background: url(../images/);
	margin: 0;
}

/*Still don't know what to do with container*/
/*#container {
	width: 90%;
	margin: 0 5%;
}*/

#banner {
	width: 90%;
	margin: 5%;
	text-align: center;
	background-color: #753E16;
	border-radius: 15px;
	font-family: Bilbo;
	color: #eee;
	font-size: .9em;
	padding-top: 1em;
	padding-bottom: 1em;
}

h1 {
	margin: 0;
}

#char-select {
	width: 90%;
	margin: 0 5%;
	position: relative;
	height: 30%;
}

#char-select div {

}

#char-1 {
	margin: 0 auto;
	width: 30%;
}

#char-2 {
	
}

#char-3 {

}

.weapon-1 {
	width: 100%;
}
.weapon-2 {
	width: 30%;
	position: absolute;
	top: 2em;
	left: 1em;
}
.weapon-3 {
	width: 30%;
	position: absolute;
	top: 2em;
	right: 1em;
}

.menu {
	text-align: center;
	margin: .3em 0;
	background-color: #333;
	border-radius: 10px;
	color: #eee;
}

.menu p {
	margin: 0;
}

#new-game-menu {
	width: 45%;
	margin: 15px auto;
	padding: 5px;
	background-color: #333;
	border-radius: 10px;
	color: #eee;
}

#new-game-menu p {
	text-align: center;
}

#new-game-menu p {
	margin: .1em;
}

#name {
	width: 60%;
	border-radius: 5px;
}

label {
	font-size: .8em;
	margin-left: .3em;
}

#resume {
	float: left;
	width: 30%;
	margin-left: 5%;
	padding: 5px;
}

#delete {
	float: right;
	margin-right: 5%;
	padding: 5px;
}

footer {
	clear: both;
}

/*Path pages css*/

.path-img {
	width: 90%;
	margin: 0 5%;
}

.path-img img {
	max-width: 100%;
}

.path-img p {
	text-align: center;
	margin: 0;
}

#monster-text {
	background-color: #333;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

#weapon-select {
	width: 90%;
	margin: 5%;
}

#weapon-select img {
	width: 30%;
}

#choice-1 {
	display: inline;
	width: 30%;
	box-sizing: border-box;
	margin: .2em;
}

#choice-2 {
	display: inline;
	width: 30%;
	box-sizing: border-box;
	margin: .2em;
}

#choice-3 {
	display: inline;
	width: 30%;
	box-sizing: border-box;
	margin: .2em;	
}
