body {
	background: url(../images/png/banner-bg.png);
	background-size: 100% 100%;
	margin: 0;
}

/*Still don't know what to do with container*/
/*#container {
	width: 90%;
	margin: 0 5%;
}*/

#banner {
	width: 80%;
	margin: 2% 10%;
	text-align: center;
	background-color: #753E16;
	border-radius: 15px;
	font-family: Bilbo;
	color: #eee;
	font-size: .9em;
	padding: .8em 0;
}

#victory {
	width: 80%;
	margin: 10% 10%;
	border-radius: 15px;
	color: #eee;
	background-color: #333;
	padding: .1em 0;
}

#victory p {
	text-align: center;
}

h1 {
	margin: 0;
}

#char-select {
	width: 90%;
	margin: 0 5%;
	position: relative;
	height: 30%;
}

#char-select div {

}

#char-1 {
	margin: 0 auto;
	width: 35%;
}

#char-2 {
}

#char-3 {
}

.weapon-1 {
	width: 100%;
}
.weapon-2 {
	width: 35%;
	position: absolute;
	top: 2.5em;
	left: 0;
}
.weapon-3 {
	width: 35%;
	position: absolute;
	top: 2.5em;
	right: 0;
}

.menu {
	text-align: center;
	margin: 1em 0;
	background-color: #333;
	border-radius: 10px;
	color: #eee;
}

.menu p {
	margin: 0;
}

#new-game-menu {
	width: 45%;
	margin: 0 auto;
	margin-top: 1em;
	padding: 1% 2% 2% 2%;
	background-color: #333;
	border-radius: 10px;
	color: #eee;
}

#new-game-menu #new-save {
	width: 100%;
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
  	background-color: #333;
  	border: none;
  	color: #eee;
  	font: 1em Lora;
}

#name {
	width: 60%;
	border-radius: 5px;
}

label {
	font-size: .8em;
	margin-left: .3em;
}

#resume {
	float: left;
	width: 30%;
	margin-left: 5%;
	padding: 5px;
}

#delete {
	float: right;
	width: 30%;
	margin-right: 5%;
	padding: 5px;
}

#howto {
	width: 90%;
	border-radius:10px;
	border-top-left-radius:10px;
	border-top-right-radius: 10px;
	margin: 5%;
	margin-top: 15%;
	margin-bottom: 0;
	clear: both;
	background-color: #333;
/*	position: absolute;
	bottom: 0;*/
	text-align: center;
	color: #eee;
}

h3 {
	margin: 3% 0 0 0;
}

footer p {
	margin: .1em;
	font-size: .9em;
}

footer div {
	margin-top: 2em;
	font-size: .9em;
}

footer a {

}

/*Path pages css*/

.path-img {
	width: 90%;
	margin: 0 5%;
}

.path-img img {
	max-width: 100%;
	display: block;
}

.path-img p {
	text-align: center;
	margin: 0;
}

#monster-text {
	color: #c60f01;
	padding-top: .2em;
	padding-bottom: .2em;
	background-color: #333;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

#weapon-select {
	width: 90%;
	margin: 5%;
}

#weapon-select img {
	width: 30%;
}

#choice-1 {
	display: inline;
	width: 30%;
	box-sizing: border-box;
	margin: .2em;
}

#choice-2 {
	display: inline;
	width: 30%;
	box-sizing: border-box;
	margin: .2em;
}

#choice-3 {
	display: inline;
	width: 30%;
	box-sizing: border-box;
	margin: .2em;
}

#button-menu {
	height: 30%;
	width: 90%;
}

button {
	width: 80%;
	height: 2em;
	margin: 2% 10%;
	background-color: #333;
	color: #c0392b;
	font-size: 1.7em;
	border: none;
	border-radius: 18px;
}

#cr {
	background-color: #333;
	text-align: center;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}


@media screen and (min-width: 370px) and (max-width: 900px) {

	.menu {
		margin-bottom: .5em 0;
	}

	.howto

}

/*Tablet sizes
everything is a big too big and takes up too much screen space
so char select buttons and menu buttons need to be smaller or scale better*/
@media screen and (min-width: 740) {

}


/*dead end css*/

.dead-img {
	width: 90%;
	margin: 0 5%;
	text-align: center;
}

.dead-img img {
		max-width: 100%;
		margin: 0;
		display: block;
}

.dead-img p {
	margin: .2em;
}
